<div class="full-height">
    <div class="vertical-center full-width centered">
        <div class="row btn-group-lg">
            <a href="kelvin">
                <div class="btn btn-default">
                    Kelvin
                </div>
            </a>
        </div>
        <div class="row">
            <div class="h1">
                &
            </div>
        </div>
        <div class="row btn-group-lg">
            <a href="ruby">
                <div class="btn btn-default">
                    Ruby
                </div>
            </a>
        </div>
    </div>
</div