<script src="/socket.io.js"></script>
<script>
    var context = littlecontexticater({floors: [], current: -1}, littlecontext);
    var socket = io();
    socket.on('floors', function (data) {
        console.log(data, arguments);
        context['var']('floors', data);
        context['var']('current', context.current);
    });
</script>

<%- include('dynamic-modal') %>
<%- include('edit-item-modal') %>

<div class="row full-height">
    <%- include('pane', {width: 3, content: 'floors-list'}) %>
    
    <%- include('pane', {width: 9, content: 'floor-items'}) %>
</div>