.border{
    border: 1px red solid;
}

.logo {
    background:url(logo.png); 
    height: 100%;
    width: 100%;
}

.vertical-center {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.centered {
    text-align: center !important;
}
.lefted {
    text-align: left !important;
}
.content-limit {
     height: 380px !important;
}
.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}
.click-through {
    pointer-events: none;
}
.pane {
    background-color: rgba(0, 0, 0, 1);
}
.big-font {
    font-size: 5em;
}
.pointer-cursor {
    cursor: pointer;
}
.display-none {
    display: none !important;
}
.position-absolute {
    position: absolute;
}