<div class="full-height">
    <span></span>
</div>

<script>
    var floorslistdiv = $('span:last');
    context._changed(function(event){
        if (event.key != 'floors')
            return;
        var floorscontents = event.value;
        
        floorscontents =
        Lazy(floorscontents)
            /*.concat({content: 'add-floor-image', classes: 'pointer-cursor'})*/;
        
        var floorslistitems = [];    
             
        var floorslistitemspromises =    
            floorscontents
                .map(
                    function(floorcontent, floorid){
                        return Promise.resolve(
                                $.ajax({
                                    type: "GET",
                                    url: "image-container",
                                    data: {content: 'floor-list-item-image', id: floorcontent, index: floorid}
                                }))
                                .then(function(listitem){
                                    floorslistitems[floorid] = listitem;
                                });
                });
        
        
        Promise.all(
            floorslistitemspromises.toArray())
        .then(function(){
            floorslistdiv.html('');
            Lazy(floorslistitems)
                .each(function(listitem){
                    floorslistdiv.append(listitem);
                });
            })
        .then(function(){
            $('img:first').trigger('click');
        });
    });
</script>