<!doctype html>
<html class="full-height">
    <head>
        <% include header.ejs %>
    </head>
    <body class="full-height">
        <%- include('container', {content: 'you-content'}) %>
    </body>
</htsml>